force-app/main/default/flows/Reset_secure_password_v1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reset_user_password</name>
        <label>Reset user password</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>ResetPassword</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Successful</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>verifiedContactID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ResetPassword</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assigns a password reset error message to the outcomeMessage variable. Note: This Assignment is a placeholder for enablement purposes and must be reconfigured in order define the outcomeMessage variable meaningfully.</description>
        <name>AssignErrorMessage</name>
        <label>Assign Error Message to Variable</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>outcomeMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Password was not reset because the Customer account was not found</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assigns a password reset success message to the outcomeMessage variable. Note: This Assignment is a placeholder for enablement purposes and must be reconfigured in order to define the outcomeMessage variable meaningfully.</description>
        <name>AssignSuccessMessage</name>
        <label>Assign Success Message to Variable</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>outcomeMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A password reset has been sent</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Determines whether the customer has an associated contact record.</description>
        <name>Successful</name>
        <label>Successful?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>AssignErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>ContactExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reset_user_password.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSuccessMessage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow to reset password of user</description>
    <environments>Default</environments>
    <interviewLabel>Reset secure password v1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reset secure password v1</label>
    <overriddenFlow>SvcCopilotTmpl__ResetScrPassword</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reset_user_password</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>The template of the email body used to send a password reset link. This template is a placeholder for enablement purposes and should be replaced with your organization&apos;s instructions for resetting a customer&apos;s password.</description>
        <name>PasswordResetEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!contactRecord.FirstName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please use the following secure link to reset your password: www.salesforce.com&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Note -- this is a test email sent by your admin and does not reflect a true password reset email.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Stores the contact record associated with the identified customer.</description>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Stores the message that lets the customer know whether the password was successfully reset. Note: This variable is a placeholder for enablement purposes and the process of assigning it a value must be reconfigured with the rest of the Flow in order for it to contain a meaningful value.</description>
        <name>outcomeMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>queriedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Get verified contact ID from verification topic.</description>
        <name>verifiedContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
