force-app/main/default/flows/Update_Verified_User_s_details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Contact_Updates</name>
        <label>Contact Updates</label>
        <locationX>314</locationX>
        <locationY>1850</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>queriedContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newEmailAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContactRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>personAccountRecord_Updates</name>
        <label>personAccountRecord Updates</label>
        <locationX>50</locationX>
        <locationY>1850</locationY>
        <assignmentItems>
            <assignToReference>personAccountRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>queriedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>personAccountRecord.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newEmailAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>personAccountRecord.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_personAccountRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_new_email_address_same_as_existing_email_address</name>
        <label>set new email address same as existing email address</label>
        <locationX>468</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>newEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>existingEmailAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsPhoneNumberNew</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_new_phone_same_as_existing_phone</name>
        <label>set new phone same as existing phone</label>
        <locationX>468</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>newPhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>existingPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsMailingAddressNew</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines whether any field of the customer’s Contact Record has been updated throughout the flow. If no updates have been made, then the Update Record element is skipped to improve flow performance.</description>
        <name>Any_changes_detected</name>
        <label>Any changes detected?</label>
        <locationX>380</locationX>
        <locationY>1634</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>ContactRecordChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EmailAddressExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewBusinessPhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewMailingAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_person_account_or_contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>identify_passed_in_id_type</name>
        <label>identify passed in id type</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>is_person_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>verifiedContactID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_contact_from_user</targetReference>
            </connector>
            <label>is user?</label>
        </rules>
        <rules>
            <name>is_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>verifiedContactID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCustomerContactRecord</targetReference>
            </connector>
            <label>is contact?</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_person_account</name>
        <label>is person account</label>
        <locationX>380</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Get_Customer_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Person_Account_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the customer’s email address has changed.</description>
        <name>IsEmailAddressNew</name>
        <label>New Email Address?</label>
        <locationX>380</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>set_new_email_address_same_as_existing_email_address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>EmailAddressExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newEmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newEmailAddress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>contactRecord.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsPhoneNumberNew</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the customer’s mailing address has changed.</description>
        <name>IsMailingAddressNew</name>
        <label>New Mailing Address? - Disabled</label>
        <locationX>380</locationX>
        <locationY>1442</locationY>
        <defaultConnector>
            <targetReference>Any_changes_detected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>NewMailingAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isPersonAccount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>isPersonAccount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Any_changes_detected</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the customer’s phone number has changed.</description>
        <name>IsPhoneNumberNew</name>
        <label>New Phone Number?</label>
        <locationX>380</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>set_new_phone_same_as_existing_phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>NewBusinessPhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newPhoneNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newPhoneNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>existingPhoneNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsMailingAddressNew</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>update_person_account_or_contact</name>
        <label>update person account or contact</label>
        <locationX>182</locationX>
        <locationY>1742</locationY>
        <defaultConnector>
            <targetReference>Contact_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact</defaultConnectorLabel>
        <rules>
            <name>PersonAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>personAccountRecord_Updates</targetReference>
            </connector>
            <label>PersonAccount</label>
        </rules>
    </decisions>
    <description>Update user&apos;s details on the corresponding salesforce object based on user type (contact / person account)</description>
    <environments>Default</environments>
    <interviewLabel>Update Verified User&apos;s details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Verified User&apos;s details</label>
    <overriddenFlow>SvcCopilotTmpl__UpdateVrfyCtct</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_contact_from_user</name>
        <label>get contact from user</label>
        <locationX>116</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Customer_Contact_Record2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>verifiedContactID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>queriedContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get customer contact record from verified contactID.</description>
        <name>Get_Customer_Contact_Record</name>
        <label>Get Customer Contact Record</label>
        <locationX>512</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsEmailAddressNew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queriedContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>existingEmailAddress</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>existingPhoneNumber</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Contact_Record2</name>
        <label>Get Customer Contact Record 2</label>
        <locationX>116</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_person_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queriedContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>queriedAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isPersonAccount</assignToReference>
            <field>IsPersonAccount</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_Record</name>
        <label>Get Person Account Record</label>
        <locationX>248</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsEmailAddressNew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queriedAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>existingEmailAddress</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>existingPhoneNumber</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get customer contact record from verified contactID.</description>
        <name>GetCustomerContactRecord</name>
        <label>Get Customer Contact Record</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_person_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>verifiedContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>queriedAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>queriedContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isPersonAccount</assignToReference>
            <field>IsPersonAccount</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_personAccountRecord</name>
        <label>Update personAccountRecord</label>
        <locationX>50</locationX>
        <locationY>1958</locationY>
        <inputReference>personAccountRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the fields in the Contact record to reflect the locally-stored values provided by the customer.</description>
        <name>UpdateContactRecord</name>
        <label>Update Contact Record</label>
        <locationX>314</locationX>
        <locationY>1958</locationY>
        <inputReference>contactRecord</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>identify_passed_in_id_type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the contact record to be updated.</description>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>existingEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isPersonAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value of the new city provided by the customer. If no change is desired, this variable is empty.</description>
        <name>newCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value of the new email address provided by the customer. If no change is desired, this variable is empty.</description>
        <name>newEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value of the new phone number provided by the customer. If no change is desired, this variable is empty.</description>
        <name>newPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value of the new postal code provided by the customer. If no change is desired, this variable is empty.</description>
        <name>newPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value of the new state provided by the customer. If no change is desired, this variable is empty.</description>
        <name>newState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value of the new street address provided by the customer. If no change is desired, this variable is empty.</description>
        <name>newStreetAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Updated person account record. Can be null if user is not of person account type</description>
        <name>personAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>queriedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queriedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the contact record ID to be updated.</description>
        <name>verifiedContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
